/*
alert_overlay  背景遮罩
alert_msg 消息框主体
alert_content 内容容器
alert_buttons 底部按钮容器
alert_btn 两个按钮公用class
alert_btn_ok 确定按钮
alert_btn_cancel 取消按钮
alert_tips tips容器
alert_tips>div tips消息体
*/
.alert_overlay{position:fixed;width:100%;height:100%;top:0;left:0;z-index:1000;background:rgba(0,0,0,.2)}
.alert_msg{box-sizing:border-box;position:absolute;width:400px;margin-left:-200px;left:50%;top:20%;border:1px solid #aaa;box-shadow:0 2px 15px rgba(0,0,0,.3);background:#fff;animation: alertshow .2s ease}
.alert_content{padding:20px;font-size:14px;text-align:left}
.alert_buttons{padding:10px;border-top:1px solid #aaa;text-align:right;box-shadow:0 1px 0 #fff inset;background:#eee;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
.alert_buttons .alert_btn{padding:5px 12px;margin:0 2px;border:1px solid #aaa;background:#eee;cursor:pointer;border-radius:2px;font-size:14px;outline:0;-webkit-appearance:none}
.alert_buttons .alert_btn:hover{border-color:#bbb;box-shadow:0 1px 2px #aaa;background:#eaeaea}
.alert_buttons .alert_btn:active{box-shadow:0 1px 2px #aaa inset;background:#e6e6e6}
.alert_tips{position:fixed;top:50px;right:50px;z-index:10176523}
.alert_tips>div{background:rgba(0,0,0,.7);color:#fff;font-size:16px;padding: 10px 15px;border-radius:2px;margin-bottom:20px;box-shadow:0 0 3px #000;display:none;float:right;clear:both;}
@keyframes alertshow {0% {opacity: 0;transform: scale(.5)}70% {opacity: .7;transform: scale(1.05)}100% {opacity: 1;transform: scale(1)}}
