html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Open Sans', sans-serif;
}

    body.sticky-footer {
        margin-bottom: 56px;
    }

        body.sticky-footer .content-wrapper {
            min-height: calc(100vh - 56px - 56px);
        }

    body.fixed-nav {
        padding-top: 56px;
    }

.content-wrapper {
    min-height: calc(100vh);
    padding-top: 1rem;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 3px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

    .scroll-to-top:focus, .scroll-to-top:hover {
        color: white;
    }

    .scroll-to-top:hover {
        background: #343a40;
    }

    .scroll-to-top i {
        font-weight: 800;
    }

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

#mainNav .navbar-collapse {
    overflow: auto;
    max-height: 75vh;
}

    #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        cursor: pointer;
    }

    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
        float: right;
        content: '\f107';
        font-family: 'FontAwesome';
    }

    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
        content: '\f105';
    }

    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
        padding-left: 0;
    }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
            display: block;
            padding: 0.5em 0;
        }

            #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
            #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
            #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
                text-decoration: none;
            }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
            padding-left: 1em;
        }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
            padding-left: 2em;
        }

    #mainNav .navbar-collapse .sidenav-toggler {
        display: none;
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
        position: relative;
        min-width: 45px;
    }

        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
            float: right;
            width: auto;
            content: '\f105';
            border: none;
            font-family: 'FontAwesome';
        }

        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
            position: absolute;
            top: 5px;
            left: 21px;
            font-size: 10px;
        }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
        content: '\f107';
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
        overflow: hidden;
        max-width: none;
        text-overflow: ellipsis;
    }

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        width: 270px;
    }

    #mainNav .navbar-collapse {
        overflow: visible;
        max-height: none;
    }

        #mainNav .navbar-collapse .navbar-sidenav {
            position: absolute;
            top: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-top: 56px;
        }

            #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
                width: 250px;
                padding: 0;
                margin-left: 10px;
            }

                #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
                    /*padding: 8px 1em;*/
                    padding: 4px 5px;
                }

                #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
                #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
                    padding-left: 0;
                    list-style: none;
                }

                    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
                    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
                        width: 250px;
                    }

                        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
                        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
                            padding: 1em;
                        }

                        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
                            padding-left: 2.75em;
                        }

                        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
                            padding-left: 3.75em;
                        }

        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
            min-width: 0;
        }

            #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
                width: 24px;
                text-align: center;
            }

        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
            max-width: 300px;
        }
}

#mainNav.fixed-top .sidenav-toggler {
    display: none;
}

@media (min-width: 992px) {
    #mainNav.fixed-top .navbar-sidenav {
        height: calc(100vh - 112px);
    }

    #mainNav.fixed-top .sidenav-toggler {
        position: absolute;
        top: 14px;
        left: 0;
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: calc(100vh - 56px);
    }

        #mainNav.fixed-top .sidenav-toggler > .nav-item {
            width: 270px;
            padding: 0;
        }

            #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
                padding: 1em;
            }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    /*background-color: #212529;*/
    background-color: #292929;
}

    #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
        color: #adb5bd;
    }

#mainNav.fixed-top.navbar-light .sidenav-toggler {
    background-color: #dee2e6;
}

    #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
        color: rgba(0, 0, 0, 0.5);
    }

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
    overflow-x: hidden;
    width: 55px;
}

    body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
    body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
        width: 55px !important;
    }

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
    display: none;
}

@media (min-width: 992px) {
    #mainNav.static-top .sidenav-toggler {
        display: flex;
    }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
}

.content-wrapper {
    overflow-x: hidden;
    background: white;
}

@media (min-width: 992px) {
    .content-wrapper {
        margin-left: 270px;
    }
}

#sidenavToggler i {
    font-weight: 800;
}

.navbar-sidenav-tooltip.show {
    display: none;
}

@media (min-width: 992px) {
    body.sidenav-toggled .content-wrapper {
        margin-left: 55px;
    }
}

body.sidenav-toggled .navbar-sidenav {
    overflow-x: hidden;
    width: 55px;
}

    body.sidenav-toggled .navbar-sidenav .nav-link-text {
        display: none;
    }

    body.sidenav-toggled .navbar-sidenav .nav-item,
    body.sidenav-toggled .navbar-sidenav .nav-link {
        width: 55px !important;
    }

        body.sidenav-toggled .navbar-sidenav .nav-item:after,
        body.sidenav-toggled .navbar-sidenav .nav-link:after {
            display: none;
        }

body.sidenav-toggled .navbar-sidenav-tooltip.show {
    display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    /*color: #868e96;*/
    color: #ccc;
}

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
        color: #adb5bd;
    }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    /*color: #868e96;*/
    color: #ccc;
}

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
        color: #adb5bd;
    }

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: #adb5bd;
}

@media (min-width: 992px) {
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        /*background: #343a40;*/
        background: #333333;
    }

        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
            color: white !important;
            background-color: #495057;
        }

            #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
                color: white;
            }

        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
            background: #343a40;
        }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
        color: rgba(0, 0, 0, 0.7);
    }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: rgba(0, 0, 0, 0.5);
}

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
        color: rgba(0, 0, 0, 0.7);
    }

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
        background: #f8f9fa;
    }

        #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
            color: #000 !important;
            background-color: #e9ecef;
        }

            #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
                color: #000;
            }

        #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
            background: #f8f9fa;
        }
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}

footer.sticky-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
}

@media (min-width: 992px) {
    footer.sticky-footer {
        /*width: calc(100% - 250px); */ width: 100%;
    }
}

@media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
        /*width: calc(100% - 55px);*/ width: 100%;
    }
}



.top-quote {
    margin: 0px;
    border-left: 5px solid #fff;
    padding-left: 10px;
    color: #fff;
}

.head-bar {
    background: url(../images/diag_lines.png) #ffffff repeat !important;
    padding: 0px !important;
    margin-top: -10px;
    box-shadow: 2px 2px 2px #aaa;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

    .head-bar h2 {
        color: #3e1f03;
        font-size: 36px;
        line-height: 1.1em;
        margin: 16px 0px 0px 0px;
        text-transform: capitalize;
        font-weight: 500;
    }

        .head-bar h2 a {
            color: #3e1f03;
            font-size: 36px;
            line-height: 1.1em;
            margin: 10px 0px 6px 0;
            text-transform: capitalize;
            margin-left: 17px;
            font-weight: 500;
        }

.gap-top {
    padding-top: 0px !important;
}

#mainNav {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#exampleAccordion {
    margin-top: 18px !important;
}

    #exampleAccordion li img {
        margin: 2px auto 30px auto;
        display: block;
        float: none;
    }

.content-wrapper {
    padding-bottom: 60px !important;
    padding-top: 90px !important;
}



/* Overlay DIV */
.overlay-content {
    position: relative !important;
    top: 50% !important;
    width: 100% !important;
    text-align: center !important;
    margin-top: 50px !important;
    min-height: 100% !important; /* min. height fors modern browser */
    height: auto !important; /* important rule for modern Browser */
}

.overlay {
    position: fixed !important;
    z-index: 1;
    left: 0 !important;
    top: 0 !important;
    background-color: rgb(0,0,0) !important;
    background-color: rgba(0,0,0, 0.5) !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    transition: 0.5s;
}

.tooltip > .tooltip-inner {
    padding: 5px;
}

.active-link {
    background: #454545;
    color: #4DB61C !important;
    font-weight: bold;
}

.btn-primary {
    background-color: #3e7bb5;
    border-color: #3e7bb5;
}

.bg-in {
    background: url("../images/check-1.png") no-repeat center right, #3e7bb5;
    display: inline-block;
    margin-right: 10px;
    padding-right: 40px;
    background-size: 20px;
    background-position-x: 89%;
    cursor: pointer;
}

.bg-out {
    background: url("../images/check-2.png") no-repeat center right, #dc3545;
    padding-right: 40px;
    display: inline-block;
    margin-right: 10px;
    background-size: 20px;
    background-position-x: 89%;
    cursor: pointer;
}

.table-top-txt {
    font-weight: bold;
    color: #3e7bb5;
}

    .table-top-txt:hover {
        text-decoration: none;
    }

.btns-txt {
    padding: 0px;
}

    .btns-txt btn {
        margin-right: 15px;
    }

.alert-danger {
    margin-top: -20px;
}

table {
    border-none !important;
}

    table td {
        padding: 4px 8px !important;
    }

.table-hover tbody tr:hover {
    background: rgba(204,234,255,1);
}

.toggle-logo {
    display: none;
}

.table-full {
    width: 100%;
}

.small-txt {
    font-size: small !important;
    color: red;
}

.settings-form {
    padding: 0px;
}

.settings-form {
    margin: 15px 0;
}

    .settings-form .title-label {
        margin: 10px 0;
    }

    .settings-form .f-2 {
        margin: 10px 0;
        padding: 2px 5px;
        height: 25px;
        max-width: 400px;
    }

.sidenav-toggled .nav-logo img {
    margin-left: -12px !important;
}

.b-21 {
    padding: 2px 15px;
    border-radius: 0px;
    border: none;
    margin-top: -1px;
}

.right-gap {
    margin-right: 3px;
}

.detail_stats {
    text-align: center;
    margin: -10px 0px 0px 20px;
}

.stats-form {
    margin: 0px 0 0 25px !important;
}

.absentRow td {
    background: #ffebe8 !important;
    font-weight: bold;
}

.unmarkedRow td {
    background: lightgoldenrodyellow !important;
    font-weight: bold;
}

.noentryRow td {
    font-weight: bold;
    background: #efe9e9 !important;
}

.defaultRow {
    background: #f5f5f5 !important;
}

/*weekend*/
.greenRow td {
    background: #d5ffce !important;
}

/*holiday*/
.yellowRow td {
    /*background: lightgoldenrodyellow !important;*/
    background: #FEF1B5 !important;
}

.headerRow th {
    background: #3b8dc1 !important;
    color: #fff !important;
}

.disable_a_href {
    pointer-events: none !important;
    color: #c0c0c0 !important;
}

.notallowed {
    cursor: not-allowed !important;
}

.about-block {
    font-size: small;
    color: #929090;
}

.fa-sign-in {
    color: #0066FF;
    font-weight: bold;
    font-size: 18px;
}

.fa-sign-out {
    color: #FF3333;
    font-weight: bold;
    font-size: 18px;
}

.information {
    cursor: pointer;
}

.change {
    color: red !important;
}

.custom-dropdown {
    font: 30px/20px arial, helvetica, sans-serif !important;
    color: #333 !important;
    border: none !important;
}

.clock {
    font-weight: bold;
    color: red;
}

.select-dropdown {
    display: inline-block;
    padding: 6px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: arial, helvetica, sans-serif;
}

.color-block {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.yellow {
    background: #FEF1B5;
}

.green {
    background: #d5ffce;
}

.pink {
    background: #ffebe8;
}

.none {
    background: #f5f5f5;
}

.legend-block {
    font-weight: bold;
    /*float: right;*/
    display: inline-flex;
    padding: 5px;
    border: 0.5px solid;
    /*margin: -20px 61px;*/
    margin-bottom: 10px;
}


@media(max-width:991px) {
    #mainNav {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        background: #333333;
    }

    .content-wrapper {
        padding-top: 130px !important;
    }

    .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }

    .txt-block-centr {
        display: block;
        float: none;
        margin-top: 10px;
    }

    .toggle-logo {
        display: block;
        margin: 0px auto;
        float: none;
    }

    .nav-logo {
        display: none;
    }

    .head-bar {
        top: 42px;
    }

    @media(max-width:660px) {
        .bread-list li {
            display: block !important;
            width: 100% !important;
            padding: 0px !important;
            margin0px !important;
        }

            .bread-list li a {
                padding: 0px !important;
                margin0px !important;
            }

            .bread-list li:before {
                content: "" !important;
                display: block !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
    }

    @media(max-width:480px) {
        .head-bar h2, .head-bar h2 a {
            font-size: 20px;
            line-height: 25px;
        }
    }
