
.item1 {
    font: 13px/16px arial, helvetica, sans-serif;
    padding: 0 0 10px 10px;
}

.item1 a{    background: #D94136;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 0;}



.item2 {
    font: 13px/16px arial, helvetica, sans-serif;
    padding: 12px 22px 15px;
    background: #eee;
    width: 382px;
    margin: 0 0 10px 10px;
}

.item2 a{     background: #D94136;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 0;}

.item3{font: 13px/16px arial, helvetica, sans-serif;
    padding: 0 10px 10px 10px;}
.item4{font: 13px/16px arial, helvetica, sans-serif;
    padding: 0 10px 10px 10px;}

.item4 a{    background: #D94136;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 0;}