﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="treeview.aspx.cs" Inherits="treeview" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:TreeView ID="TreeView1" runat="server" ImageSet="Arrows" CollapseImageToolTip="" PopulateNodesFromClient="True"></asp:TreeView>
    </div>
    </form>
</body>
</html>
