﻿<%@ Page Title="" Language="C#" MasterPageFile="~/W/MasterPage.master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="W_About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <div>
        <h5 style="font-weight:bold;">Welcome to Avaima's Time & Attendance</h5>
        <br />
       <p> A web-based software application that allows you to keep track and records of time<br /> and attendance of yourself and your employees.</p>
    </div>
</asp:Content>

