﻿<%@ Page Language="C#" AutoEventWireup="true" Async="true" CodeFile="Postmarkapp.aspx.cs" Inherits="W_Postmarkapp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:TextBox ID="txtemail" runat="server"></asp:TextBox><br />
            <asp:Button ID="btn" runat="server" OnClick="btn_Click" Text="Send Email" />
        </div>
    </form>
</body>
</html>
